/* Estilos generales del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(238, 238, 238); /* Fondo claro */
    margin: 0;
    height: 100vh; /* Altura completa */
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

/* Contenedor de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

/* Contenido de login */
.login-content {
    background: #fff; /* Fondo blanco */
    border-radius: 8px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 400px;
    text-align: center;
}

/* Imagen de login */
.login-image img {
    border-radius: 8px;
    width: 400px;
    height: auto;
    object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
}

/* Estilo del encabezado */
.login-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo de enlace */
.login-content p {
    color: #000; /* Color negro para el texto */
    text-align: center; /* Centrar el texto */
    margin: 10px 0; /* Añadir espacio arriba y abajo */
}

.login-content a {
    color: #000;
    text-decoration: none;
}

.login-content a:hover {
    text-decoration: underline;
}

/* Estilo de campos de entrada */
.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 92%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo del botón */
.button {
    background-color: #000; /* Fondo negro para el botón */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 30px; /* Esquinas redondas */
    width: 100%;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #333; /* Cambio de color al pasar el mouse */
}

/* Estilo del separador */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

/* Estilo del botón de Google */
.google-btn {
    color: #fff;
    border-radius: 30px;
    padding: 15px 20px;
    display: block;
    text-align: center;
    background-color: #42f46e; /* Color de fondo de Google */
    text-decoration: none;
    margin-top: 10px;
}

.google-btn img {
    width: 20px; /* Ajusta el tamaño del icono de Google si es necesario */
    margin-right: 10px;
    vertical-align: middle; /* Alinear verticalmente con el texto */
}

/* Estilos para alertas */
.alert {
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff; /* Texto blanco */
    text-align: center;
}

.alert-success {
    background-color: #4CAF50; /* Verde */
}

.alert-danger {
    background-color: #f44336; /* Rojo */
}
/* Estilos generales del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(238, 238, 238); /* Fondo claro */
    margin: 0;
    height: 100vh; /* Altura completa */
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

/* Contenedor de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

/* Contenido de login */
.login-content {
    background: #fff; /* Fondo blanco */
    border-radius: 8px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 400px;
    text-align: center;
}

/* Imagen de login */
.login-image img {
    border-radius: 8px;
    width: 400px;
    height: auto;
    object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
}

/* Estilo del encabezado */
.login-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo de enlace */
.login-content p {
    color: #000; /* Color negro para el texto */
    text-align: center; /* Centrar el texto */
    margin: 10px 0; /* Añadir espacio arriba y abajo */
}

.login-content a {
    color: #000;
    text-decoration: none;
}

.login-content a:hover {
    text-decoration: underline;
}

/* Estilo de campos de entrada */
.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 92%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo del botón */
.button {
    background-color: #000; /* Fondo negro para el botón */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 30px; /* Esquinas redondas */
    width: 100%;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #333; /* Cambio de color al pasar el mouse */
}

/* Estilo del separador */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

/* Estilo del botón de Google */
.google-btn {
    color: #fff;
    border-radius: 30px;
    padding: 15px 20px;
    display: block;
    text-align: center;
    background-color: #42f46e; /* Color de fondo de Google */
    text-decoration: none;
    margin-top: 10px;
}

.google-btn img {
    width: 20px; /* Ajusta el tamaño del icono de Google si es necesario */
    margin-right: 10px;
    vertical-align: middle; /* Alinear verticalmente con el texto */
}

/* Estilos para alertas */
.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff; 
    text-align: center;
}

.alert-success {
    background-color: #4CAF50; /* Verde */
}

.alert-danger {
    background-color: #f44336; /* Rojo */
}
