/* General Body Style */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card Style */
.card {
    background: white;
    border-radius: 30px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    width: 600px;  /* Ajuste de ancho según su diseño */
    padding: 40px; /* Espacio interno para una estética limpia */
    box-sizing: border-box;
}

/* Header Style */
.card h2 {
    font-size: 25px;
    color: #333;
    margin-bottom: 25px;  /* Espacio después del título */
    text-align: center;
}

/* Input Fields Style */
.input-group {
    display: flex;
    justify-content: space-between; /* Asegura la separación y alineación */
    align-items: center; /* Centra verticalmente los elementos */
    margin-bottom: 20px; /* Espacio entre los grupos de entradas */
}

.input-group input {
    flex: 1; /* Permite que los inputs ocupen el espacio disponible equitativamente */
    margin-right: 10px; /* Espacio entre inputs cuando están en la misma línea */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Button Style */
.button {
    padding: 18px 20px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    width: 100%;  /* Define el ancho de los botones */
    margin: 25px auto;  /* Centra los botones horizontalmente y añade espacio vertical */
    display: block;  /* Asegura que los botones se traten como bloques, permitiendo margen auto */
}

.button {
    background-color: #000000;
    color: white;
    border: none;
}


.button:hover {
    background-color: #393939;
}

.button-google {
    background-color: #42f46e; /* Fondo transparente para el botón de Google */
    color: #000000;
    border-radius: 30px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;  /* Estilo de enlace para parecer un enlace */
}

.button-google img {
    margin-right: 12px;
    width: 30px;  /* Controla el tamaño del ícono de Google */
    height: auto;
}

.already-registered {
    text-align: center;
    margin-top: 20px;  /* Espacio después del último botón */
    width: 100%;
}


/* Estilos para alertas */
.alert {
    padding: 1px;
    width: 98%;
    margin: 15px 0;
    border-radius: 5px;
    color: #fff; /* Texto blanco */
    text-align: center;
}

.alert-success {
    background-color: #4CAF50; /* Verde */
}

.alert-danger {
    background-color: #f44336; /* Rojo */
}

